$primary: #7651fc;
$secondary: #fcfbfd;
$gray: #333233;
$black: #0c061f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Nunito, sans-serif;
  background-color: $primary;
}

.header{
  height: 50px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  border-bottom: 1px solid;
  border-bottom-color: $gray;

  .logo{
    color: $secondary;
    font-size: larger;
    font-weight: 800;
    letter-spacing: 4px;
  }
  .menu{
    a{
      text-decoration: none;
      font-weight: 700;
      color: $gray;
    }
  }
}

#home{
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}
#about{
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $secondary;
}
#portfolio{
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}
#contact{
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $secondary;
}